@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap");

:root {
  --bone-white: #f1eee0;
  --warm-black: #25241f;
  --purple: #eb39f5;
  --dark-purple: #9c5aa0;
  --turqoise: #38f5cf;
  --light-green: #7de3cf;
  --dark-green: #56756f;
  --yellow: #f5c938;
  --brown: #756e56;
}

.roboto-mono-400 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-600 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--warm-black);
  background-color: var(--bone-white);
}

main {
  min-height: 100vh;
  max-width: 800px;
}

section {
  padding: 0.5rem;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.headline {
  padding: 0.5rem 0;
}

.heroPortrait {
  border-radius: 50%;
  border: 5px double var(--dark-green);
  height: 6rem;
  width: 6rem;
  margin: 5px;
}

.gradientBorder {
  background: #eb39f5;
  background: linear-gradient(
    24deg,
    var(--dark-green) 0%,
    var(--brown) 50%,
    var(--yellow) 100%
  );
  padding: 0.2rem;
  border-radius: 5px;
}

.swordlineContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spacing {
  margin: 0.5rem;
}

.fitContent {
  width: fit-content;
}

.inspectViewBtn {
  border: none;
  font-family: monospace;
  padding: 0.2rem 0.4rem 0.2rem;
  box-shadow: 2px 2px 2px var(--warm-black);
  cursor: pointer;
  color: var(--bone-white);
  background-color: var(--dark-green);
}

.biggerBtn {
  font-size: 1rem;
  padding: 0.4rem, 0.8rem;
}

.closeBtn {
  color: var(--bone-white);
  background-color: var(--brown);
}

.fixedMenu {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}

.centerText {
  text-align: center;
}

.topMargin {
  margin-top: 1rem;
}
