:root {
  --bone-white: #f1eee0;
  --warm-black: #25241f;
  --purple: #eb39f5;
  --dark-purple: #9c5aa0;
  --turqoise: #38f5cf;
  --light-green: #7de3cf;
  --dark-green: #56756f;
  --yellow: #f5c938;
  --brown: #756e56;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  color: var(--warm-black);
  background-color: var(--bone-white);
}

main {
  padding-bottom: 5rem;
  min-height: 100vh;
}

section {
  padding: 0.5rem;
}

.heroPortrait {
  border-radius: 50%;
  border: 5px double var(--dark-green);
  height: 6rem;
  width: 6rem;
  margin: 5px;
}

.gradientBorder {
  background: #eb39f5;
  background: linear-gradient(
    24deg,
    var(--dark-green) 0%,
    var(--brown) 50%,
    var(--yellow) 100%
  );
  padding: 0.2rem;
  border-radius: 5px;
}

.italic {
  font-style: italic;
}
